@font-face {
  font-family: 'euclid-square';
  src: url(../../assets/fonts/euclidsquare-medium-webfont.woff2) format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'euclid-square';
  src: url(../../assets/fonts/euclidsquare-regular-webfont.woff2) format('woff2');
  font-weight: 300;
}
