@import '../../assets/scss/_variables.scss';
@import '../../assets/scss/_base.scss';

.App {
  text-align: center;

  .Charts {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    @media #{$breakpoint-desktop} {
      padding: 24px;
    }

    .Chart {
      width: 100%;
      margin-bottom: 30px;
      @media #{$breakpoint-desktop} {
        width: calc(50% - 12px);
      }
    }
  }
}
